body {
	max-width: 1024px;
    margin: 0 auto;
    padding: 30px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #24292e;
}

header a {
	text-decoration: none;
	font-size: 2em;
	font-weight: 600;
	color: #0366d6;
}

.photo{
    height: 285px;
    width: 200px;
    background: url(https://pp.userapi.com/c10700/u16488222/-6/y_c78d232f.jpg);
    background-size: 94%;
    background-repeat: no-repeat;
}

.contacts-and-photo {
    display: flex;
    justify-content: space-between;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
}
.contacts-info ul {
    display: block;
}

.contacts-info li{
    list-style-type: none;
    padding: 5px;
    margin-left: -20px;
}

.contacts-info li a {
    text-decoration: none;
	font-size: 1em;
	font-weight: 600;
	color: #000099;
}

.contacts-info li a:hover {
    text-decoration: underline;
}

 p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 2em;;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 20px;
}
th {
    background: #D0E4F5;
    font-size: 1.2em;
    font-weight: 800;
}

tr:nth-child(even) {
    background: #D0E4F5;
}

a {
    text-decoration: none;
	font-size: 1em;
	font-weight: 600;
	color: #000099;
}

.points-6-7-8 a:hover {
    text-decoration: underline;
}

.points-6-7-8 li {
    font-size: 1.2em;
    line-height: 2em;;
}